@import url(https://fonts.googleapis.com/css?family=Dancing+Script);

* { box-sizing: border-box; }

a 	{
	color: black;
	text-decoration: none;
}
h1	{
	color: lime;
	background-color: rgba(0, 0, 0, 0.4);
	text-align: center;
	font-family: 'Dancing Script';
}
body{
	margin: 20px;
}
nav	{
	background-color: lime;
	margin: 0;
	text-align: center;
}
nav > ul > li{
	display: inline-block;
	padding: 10px;
	font-family: 'Dancing Script';
	font-size: 30px;
	margin: auto 0;	
}
nav > ul > li > a{
	text-decoration: none;
	text-transform: uppercase;
}
nav > ul > li:hover{
	background-color: black;
}
nav > ul{
	text-align: center;
}
nav > ul > li:hover > a{
	color: lime;
}
.emaillink{
	display: inline-block;
}
.emailtext{
	display: inline-block;
}
.imgmain{
	width: 500px;
	display: inline;
	border: 2px solid black;
}