@import url(https://fonts.googleapis.com/css?family=Dancing+Script);

* { box-sizing: border-box; }

a 	{
	color: black;
	text-decoration: none;
}
h1	{
	color: lime;
	background-color: rgba(0, 0, 0, 0.4);
	text-align: center;
}
body{
	margin: 20px;
}
nav	{
	background-color: lime;
	margin: 0;
	text-align: center;
}
nav > ul > li{
	display: inline-block;
	padding: 10px 0;
	border-left: 2px solid black;
	border-right: 2px solid black;
	font-family: 'Dancing Script';
	text-size: 30px;
}
nav > ul > li > a{
	text-decoration: none;
	text-transform: uppercase;
}
nav > ul > li.hover{
	background-color: green;
}
nav > ul{
	text-align: center;
}