a 	{
	color: black;
	text-decoration: none;
}
h1	{
	color: lime;
	background-color: rgba(0, 0, 0, 0.4);
	text-align: center;
}
body{
	margin: 20px;
}
nav	{
	background-color: lime;
}
nav > ul > li{
	display: inline-block;
	padding: 20px;
	text-align: center;
}
nav > ul > li > a{
	text-decoration: none;
	text-transform: uppercase;
}
nav > ul > li.hover{
	background-color: green;
)